<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Email2Zalo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Email2Zalo.Properties.Settings>
            <setting name="FilterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomSender" serializeAs="String">
                <value />
            </setting>
            <setting name="IntervalInMinutes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CustomSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerHost" serializeAs="String">
                <value>imap.gmail.com</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>993</value>
            </setting>
            <setting name="ServerSsl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ZaloContact" serializeAs="String">
                <value />
            </setting>
            <setting name="ZaloUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ZaloPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ZaloToken" serializeAs="String">
                <value />
            </setting>
        </Email2Zalo.Properties.Settings>
    </userSettings>
</configuration>